In [26]:
import pandas as pd
import numpy as np

In [27]:
content=pd.read_csv('Content.csv')
reaction=pd.read_csv('Reactions.csv')
reactiontype=pd.read_csv('ReactionTypes.csv')

In [28]:
df=reaction.merge(content,on='Content ID', how='left')
df

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,photo,Studying
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,photo,Studying
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25,photo,Studying
...,...,...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46,audio,technology
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17,audio,technology
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54,audio,technology
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08,audio,technology
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55,audio,technology

In [29]:
df=df.merge(reactiontype,on='Reaction Type',how='left')
df

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,photo,Studying,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,photo,Studying,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25,photo,Studying,positive,30
...,...,...,...,...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46,audio,technology,negative,10
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17,audio,technology,positive,45
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54,audio,technology,positive,30
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08,audio,technology,negative,12
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55,audio,technology,positive,70

In [30]:
df.dtypes

Unnamed: 0        int64
Content ID       object
Reaction Type    object
Datetime         object
Content Type     object
Category         object
Sentiment        object
Score             int64
dtype: object

In [31]:
'''tst=pd.DataFrame(df)
tst['Sentiment_x'].equals(tst['Sentiment_y'])'''

"tst=pd.DataFrame(df)\ntst['Sentiment_x'].equals(tst['Sentiment_y'])"

In [32]:
'''tst=pd.DataFrame(df)
tst['Score_x'].equals(tst['Score_y'])'''

"tst=pd.DataFrame(df)\ntst['Score_x'].equals(tst['Score_y'])"

In [33]:
'''tst = tst.drop(['Sentiment_y', 'Score_y'], axis=1)
tst'''

"tst = tst.drop(['Sentiment_y', 'Score_y'], axis=1)\ntst"

In [34]:
category_scores = df.groupby('Category')['Score'].sum()

In [36]:
top_5_categories = category_scores.sort_values(ascending=False).head(5).index
print(top_5_categories)

Index(['animals', 'healthy eating', 'technology', 'science', 'culture'], dtype='object', name='Category')

In [37]:
df['Top_5_Categories'] = ''
for i in range(len(top_5_categories)):
    df.loc[i, 'Top_5_Categories'] = top_5_categories[i]

In [38]:
df.to_excel('Reactions.xlsx',index=False)